@model  GeIdea.Data.AccountModel

@{
    Layout = "_LogonLayout";
}
    <script>
        function logIn() {
            var url = "/account/doLogon";
            var accountData = new function () {
                this.AccountId = $("#AccountId").val();
                this.Email = $("#Email").val();
                this.Password = $("#Password").val();
            };

            alert(JSON.stringify(accountData));
            submit(url, accountData, function () {
                //window.location="/account/getAccounts";
            });
        }

        function submit(url, model, callBackFunction) {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: url,
                contentType: 'application/json',
                data: JSON.stringify(model),
                async: false,
                cache: false,
                traditional: true,
                success: function (xhr, status, response) {
                    if (callBackFunction != null && callBackFunction != undefined)
                        callBackFunction(response);
                },
                error: function (err) {
                    //alert(JSON.stringify(err));
                    if (callBackFunction != null && callBackFunction != undefined)
                        callBackFunction(err);

                }
            });
        }

    </script>
 
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.Email,new { @class = "form-control", @required = true, placeholder = "username"})

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = true, placeholder = "password" })

                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                        </div>
                        <div class="form-group">
                            <button type="submit" id=" btnLogin" class="btn float-right login_btn" onclick="logIn()">Sign In</button>

                            @*<input type="submit" value="Login" class="btn float-right login_btn">*@
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<button type="submit" >Sign Up</button>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
